mixin categoryInfo(city, full=true)
  each category in city.categories
    - const pyp = category.data[0]
    header
      h2.title= title

    article

      if full
        h3#dias-de-aplicacion Días de apliación
        section
          if pyp.excludedDays.length
            ul
              each day in [0, 1, 2, 3, 4, 5, 6].filter(day => !pyp.excludedDays.includes(day))
                li= ['Domingos', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábados'][day]
          else
            p Aplica todos los días
          p= `${pyp.skipHolidays ? 'No Aplica' : 'Aplica'} los días festivos`

      h3#horario Horario
      section
        +hours(pyp.hours)

      h3#clase-de-vehiculos Clase de vehículos
      section= pyp.vehicleClasses

      h3#esquema Esquema
      - const scheme = [ 'Último dígito del número de la placa', 'Primer dígito del número de la placa']
      section= scheme[pyp.scheme] || pyp.scheme

      if category.decrees.length
        h3#decreto Decreto
        section
          ul
            each decree in category.decrees
              li
                if decree.url
                  +externalLink(decree.url, decree.name)
                else
                  |
                  = decree.name

      if pyp.observations
        h3#observaciones Observaciones
        section !{pyp.observations}

      if pyp.zones
        h3#vias Vías
        section !{pyp.zones}

      if pyp.maps.length
        h3#mapa Mapa
        each map in pyp.maps
          section
            img(src=map.url alt=map.name)

      if pyp.exceptions
        h3#excepciones Excepciones
        section !{pyp.exceptions}

      h3#sanciones Sanciones
      section Los infractores a lo dispuesto serán sancionados con multa equivalente a quince (15) salarios mínimos diarios legales vigentes e inmovilización del vehículo, según lo consagrado por el artículo 131 literal C numeral 14 de la #[+externalLink("http://www.secretariasenado.gov.co/senado/basedoc/ley_0769_2002.html", "Ley 769 de 2002")].