mixin cityTable(city)
  table.table
    thead.dark
      tr
        th Categoría
        th.numeric Placas
    tbody
      each category in city.categories
        - const na = !category.data[0].numbers.length
        tr(class=na ? 'table-secondary text-muted' : '')
          td(title=`Pico y placa ${category.name.toLowerCase()} en ${city.name}`)
            a(href=`/${category.path}`)
              span= category.emoji
              |
              |
              = category.name
            if !na
              +hours(category.data[0].hours, ["small"], true)
          td.numeric
            +licensePlate(category.data[0].numbers, helpers.isPublic(category.name))