mixin selectCity(cityName, main=false)
  if citiesMap
    .select
      input(type='text' placeholder='Ciudad...' list='pypinfo' id='query')
      datalist#pypinfo
        each city, citySlug in citiesMap
          each category, categorySlug in city.categories
            - console.log({category})
            option(value=`${city.name} / ${category.name}` data-url=`${citySlug}/${categorySlug}`)
      button#go= 'Ir'

mixin selectCategory(citySlug, categoryName)
  if citiesMap
    .select
      select#categories(required onchange="window.location.href = '/' + this.options[this.selectedIndex].value")
        if !categoryName
          option(value="" disabled selected hidden) Categoría...
        each category, categorySlug in citiesMap[citySlug].categories
          - const selected = category.name === categoryName
          option(value=`${citySlug}/${categorySlug}` selected=selected)= category.name