link(rel="apple-touch-icon", sizes="180x180", href=helpers.cdn("favicon/apple-touch-icon.png"))
link(rel="icon", type="image/png", sizes="32x32", href=helpers.cdn("favicon/favicon-32x32.png"))
link(rel="icon", type="image/png", sizes="16x16", href=helpers.cdn("favicon/favicon-16x16.png"))
link(rel="manifest", href=helpers.cdn("favicon/site.webmanifest"))
link(rel="mask-icon", href=helpers.cdn("favicon/safari-pinned-tab.svg"), color="#5bbad5")
link(rel="shortcut icon", href=helpers.cdn("favicon/favicon.ico"))
meta(name="msapplication-TileColor", content="#ffc40d")
meta(name="msapplication-config", content=helpers.cdn("favicon/browserconfig.xml"))
meta(name="theme-color", content="#ffffff")