nav.navbar(role="navigation" aria-label="main navigation")
  a.navbar-item(title=site.name href=url)
    include ../../../assets/imgs/pyphoy.svg
  if home
    a.navbar-item.site-name(title=site.name href=url)= site.name
  else
    .navbar-item
      if pypData
        +selectCity(pypData.name)
        +selectCategory(pypData.path, categoryName )
      else
        +selectCity()

    
header.header.container.text-center
  h1.title= title || site.name
  .subtitle
    time(datetime=ISODate)= date
  if archive
    div.archive
      +archiveWarning()
  if pypData
    +displayMessages(pypData.messages)
  if categoryPage || numberPage
    for category in pypData.categories
      +displayMessages(category.messages)
  
.container.text-center
  if pagePath
    +breadCrumbs(pagePath)
