- const siteTitle = SEOTitle || `${title || site.title()} | ${site.name}`
- const siteDescription = description || site.description()
- const canonicalUrl = `${url}${pagePath}`

head
  meta(charset='utf-8')
  
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width,minimum-scale=1,initial-scale=1')
  title= siteTitle
  meta(name='description' content=siteDescription)
  link(rel='canonical' href=canonicalUrl)

  meta(itemprop="name" content=siteTitle)
  meta(itemprop="Description" content=siteDescription)
  meta(itemprop="url" content=canonicalUrl)
  meta(itemprop="startDate" content=ISODate)

  include ./social
  include ./favicon

  if site.env === 'production'
    include ./google-analytics

  if site.env === "development"
    link(rel="stylesheet" href="/css/main.css")
  else
    style
      include ../../../assets/css/main.min.css
