nav.navbar(role="navigation" aria-label="main navigation")
  a.navbar-item(title='Pico y placa para hoy' href=site.url)
    include ../../../public/imgs/pyphoy.svg
  if home
    a.navbar-item.site-name(title=site.name href=site.url)= site.name
  else
    .navbar-item
      if pypData
        +selectCity(pypData.name)
        +selectCategory(pypData.path, category ? pypData.data[0].categories[0].name : false)
      else
        +selectCity()

    
header.header.container.text-center
  h1.title= pageTitle || site.name
  .subtitle(class=amp && 'archive')
    time(datetime=ISODate)= date
    if amp
      p.small.warning Esta página no corresponde con la fecha actual.
      a.small.hyperlink(href=pagePath) Consulte acá el pico y placa para el día de hoy.
.container.text-center
  if pagePath
    +breadCrumbs(pagePath)
