nav.navbar(role="navigation" aria-label="main navigation")
  a.navbar-item(title=site.name href=url)
    include ../../../assets/imgs/pyphoy.svg
  if home
    a.navbar-item.site-name(title=site.name href=url)= site.name
  else
    .navbar-item
      if pypData
        +selectCity(pypData.name)
        +selectCategory(pypData.path, categoryName ? pypData.data[0].categories[0].name : false)
      else
        +selectCity()

    
header.header.container.text-center
  h1.title= title || site.name
  .subtitle
    time(datetime=ISODate)= date
  if archive
    div.archive
      +archiveWarning()
  else if pagePath.indexOf("popayan") !== -1
    div.archive A partir del 1 de enero de 2019 y hasta nuevo aviso se levanta la medida de pico y placa en toda la ciudad.
  - console.log(pypData)
  for message in pypData.messages
    div.message
      if message.url
        a(href=message.url target="_blank" rel="nofollow")= `${message.message} ↗️`
      else
        p= message.message
  
.container.text-center
  if pagePath
    +breadCrumbs(pagePath)
