nav.navbar(role="navigation" aria-label="main navigation")
  a.navbar-item(title=site.name href=url)
    include ../../../assets/imgs/pyphoy.svg
  if home
    a.navbar-item.site-name(title=site.name href=url)= site.name
  else
    .navbar-item
      if pypData
        +selectCity(pypData.name)
        +selectCategory(pypData.path, categoryName ? pypData.data[0].categories[0].name : false)
      else
        +selectCity()

    
header.header.container.text-center
  h1.title= title || site.name
  .subtitle
    time(datetime=ISODate)= date
  if archive
    div.archive
      +archiveWarning()

  if pagePath.indexOf("cucuta") !== -1
    div.archive El
      |
      |
      a(href="https://cdn.pyphoy.com/docs/cucuta/decreto-0221-del-15-de-enero-2019.pdf") decreto 0221 de enero 15 de 2019
      |
      | deroga los Decretos 0239 del 4 de abril del 2017 y el 0330 del 22 de mayo del 2017, que implementaron las medidas ‘pico y placa’ y ‘placa día’.

  else if pagePath.indexOf("popayan") !== -1
    div.archive A partir del 1 de enero de 2019 y hasta nuevo aviso se levanta la medida de pico y placa en toda la ciudad.

.container.text-center
  if pagePath
    +breadCrumbs(pagePath)
