nav.navbar(role="navigation" aria-label="main navigation")
  a.navbar-item(title=site.name href=url)
    include ../../../assets/imgs/pyphoy.svg
  .navbar-item
    if pypData
      +selectCity(pypData.name)
      +selectCategory(pypData.path, categoryName )
    else
      +selectCity()

    
header
  h1= title || site.name
  h2
    time(datetime=ISODate)= date
  if pagePath
    +breadcrumbs(pagePath)
  if archive
    +messages()(class='warning')
      p Esta página no corresponde con la fecha actual.
      a(href=pagePath) Consulte acá el pico y placa para hoy.
  if pypData
    +messages(pypData.messages)
  if categoryPage || numberPage
    for category in pypData.categories
      +messages(category.messages)
