extends layouts/layout

block pypData
  section.container
    table.table
      thead.dark
        tr
          th Fecha
          th.text-right Placas
      tbody
        each pyp, index in pypData.data
          - const currentDate = new Date(pyp.date)
          - const currentISODate = currentDate.toISOString()
          - const currentISODateShort = helpers.format(currentDate);
          - const currentLocalDate = currentISODateShort.replace(/-/g, "/")
          - const currentLocalDay = helpers.format(currentDate, "cccc");
          - const na = pyp.categories[0].pyp === 'NA'
          if currentISODateShort === ISODateShort
            tr.active(class=na && 'table-secondary text-muted')
              td
                time(datetime=currentISODate)= currentISODateShort === todayISODateShort ? `hoy ${currentLocalDay}` : currentLocalDay 
                |
                |
                span.warning.small= currentLocalDate
                if currentISODateShort !== todayISODateShort
                  +archiveWarning(date)
                else
                  +hours(pypData.info[pypData.data[0].categories[0].key].hours, ["list-style-none", "small"])
              +tdLicensePlate(pyp.categories[0], na)
          else
            tr(class=na && 'table-secondary text-muted')
              td
                a(href=`${pagePath}?d=${currentISODateShort}`)
                  time(datetime=currentISODate)= currentLocalDay
                  |
                  |
                  span.text-muted.small= currentLocalDate
              +tdLicensePlate(pyp.categories[0], na)
block pypQuery
  +pypQuery(pagePath)
block pypInfo
  .info-container
    +categoryInfo(pypData)

