extends layouts/layout

block variables
  - const cityName = pypData.name
  - const pageTitle = `Pico y placa ${pypData.data[0].categories[0].name.toLowerCase()} en ${cityName}`
  - const category = true
  //- Debido a que esta p치gina recibe como query una fecha, esa fecha se usa
  //- como la fecha de base para construir la p치gina y por lo tanto si la fecha
  //- de la query (por ejemplo: ?d=2018-10-12) no coincide con la fecha actual,
  //- vamos a desconocer al fecha actual, que necesitamos para validar en la
  //- creaci칩n de la p치gina si estamos hablando de hoy.
  - const today = new Date()
  - const todayISODate = today.toISOString()
  - const todayISODateShort = helpers.format(today)

block pypData
  section.container
    table.table
      thead.dark
        tr
          th Fecha
          th.text-right Placas
      tbody
        each pyp, index in pypData.data
          - const currentDate = new Date(pyp.date)
          - const currentISODate = currentDate.toISOString()
          - const currentISODateShort = helpers.format(currentDate);
          - const currentLocalDate = currentISODateShort.replace(/-/g, "/")
          - const currentLocalDay = helpers.format(currentDate, "cccc");
          - const na = pyp.categories[0].pyp === 'NA'
          if currentISODateShort === ISODateShort
            tr.active(class=na && 'table-secondary text-muted')
              td
                time(datetime=currentISODate)= currentISODateShort === todayISODateShort ? `hoy ${currentLocalDay}` : currentLocalDay 
                |
                |
                span.warning.small= currentLocalDate
                if archive
                  +archiveWarning(date)
              +tdLicensePlate(pyp.categories[0], na)
          else
            tr(class=na && 'table-secondary text-muted')
              td
                a(href=`${pagePath}?d=${currentISODateShort}`)
                  time(datetime=currentISODate)= currentLocalDay
                  |
                  |
                  span.text-muted.small= currentLocalDate
              +tdLicensePlate(pyp.categories[0], na)
block pypQuery
  +pypQuery(pagePath)
block pypInfo
  .info-container
    +categoryInfo(pypData)

