extends layouts/layout

block pypData
  each category in pypData.categories
    section.text-center
      div.m-1
        span.badge(class=status ? 'stop' : 'go')= num
      p.lead Hoy #{status ? '' : 'no'} tiene pico y placa
      .info
        p= date
        .m-1
          +licensePlate(category.data[0].numbers)
        dt Horario
          dd
            +hours(category.data[0].hours, ["list-style-none"], status)
      .container
        if nextPyp.length
          table.table
              caption
                p Prográmese
                p
                  +licensePlate(num, helpers.isPublic(category.name))
                p tiene pico y placa los días
              tbody
                each date in nextPyp
                  tr
                    td.text-center= helpers.fullDateString(new Date(date.date))
        else
          div No tiene pico y placa en los próximos 30 días
        
block pypQuery
  each category in pypData.categories
    +pypQuery(`/${category.path}`)

block pypInfo
  .info-container
    +categoryInfo(pypData)

