extends layouts/layout

block pypData
  main
    div.m-1
      span.badge(class=status ? 'stop' : 'go')= num
    p.lead Hoy #{status ? '' : 'no'} tiene pico y placa
    .info
      p= date
      .m-1
        +licensePlate(categoryData.data[0].numbers)
      dt Horario
        dd
          +hours(categoryData.data[0].hours, ["list-style-none"], status)
    section
      if nextPyp.length
        table.table
            caption
              p Prográmese
              p
                +licensePlate(num, helpers.isPublic(categoryData.name))
              p tiene pico y placa los días
            tbody
              each date in nextPyp
                tr
                  td= helpers.fullDateString(new Date(date.date))
      else
        div No tiene pico y placa en los próximos 30 días
        
block pypQuery
  +pypQuery(`/${categoryData.path}`)

block pypInfo
  section.info-container
    +categoryInfo(pypData)

